@import "@/styles/variables";

$dot-line-height: 0.825rem;

.horizontal-menu-item {

  display: flex;

  @include font-style-2;
  
  font-weight: $font-weight-regular;

  &__dot {
    margin-right: 5px;

    //
    height: $dot-line-height;
    height: 1lh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &:before {
      content: "";
      display: block;
      background-color: $color-third;
      width: 6px;
      height: 6px;
      border-radius: 100%;
    }   
  }

  &__link {
    color: $color-third;
  }
  &__index {
  }

  &__title {
  }
}
