@import '@/styles/variables';

.content-rows {
  @include grid;

  &__left {
    grid-column: span 4;

    @include media("<=mobile") {
      grid-column: span 12 !important;
    }
  }

  &__right {
    grid-column-start: 7;
    grid-column-end: 11;

    @include media("<=mobile") {
      grid-column: span 12 !important;
    }
  }

  &__title {
    
    @include font-style-6;

    font-weight: $font-weight-medium;

    color: $color-primary;
  }

  &__item {
    margin-bottom: $space-3;
  }
}

.content-row-item {
  &__title {
    
    @include font-style-6;

    font-weight: $font-weight-medium;

    color: $color-white;

    + .content-row-item__content {
      margin-top: $space-2;
    }
  }

  &__content {

     @include font-style-4;

    font-weight: $font-weight-medium;

    color: $color-fourth;
  }
}
