@import "@/styles/variables";

.card {
    display: flex;
    flex-direction: column;

  &__picture {
    
    + .card__body{
      margin-top:$space-1;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    color: $color-primary;
    
  }

  &__title {
    
    @include font-style-4;

    font-weight: $font-weight-medium;    
  }

  &__description {

    @include font-style-4;

    font-weight:$font-weight-regular;

    max-width:calc( 100% * 2 / 3 );

  }

  &__services {

     @include font-style-4;
     
    font-weight:$font-weight-regular;

    color: $color-secondary;

    display: flex;
    flex-wrap: wrap;
  }
  &__service:not(:last-child){
    margin-right:5px;
  }
}
