@import '@/styles/variables';

.navbar__hamburger {
  &:hover .hamburger--show {
    .hamburger__line {
      transition: all 0.2s ease-in-out !important;
      &:first-child {
        transform: translateX(-3px) !important;
      }
      &:last-child {
        transform: translateX(3px) !important;
      }
    }
  }
}

// Hamburger Menu Lines
$hamburger-width: 40px;
$hamburger-height: 8px;
.hamburger {
  width: $hamburger-width;
  height: $hamburger-height;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &__line {
    width: $hamburger-width;
    height: 1px; // Adjust thickness as needed
    background-color: $color-primary; // Set color for lines
    position: absolute;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    //transform: scaleX(0);
    &:first-child {
      top: 0;
      left: 0;
    }
    &:last-child {
      bottom: 0;
      left: 0;
    }
  }

  &--open {
    .hamburger {
      &__line {
        &:first-child {
          transform: rotate(45deg);
        }
        &:last-child {
          top: calc($hamburger-height * 2);
          transform: translateY(calc(-1 * ($hamburger-height * 2)))
            rotate(-45deg);
        }
      }
    }
  }

  &--hide,
  &--show {
    .hamburger {
      &__line {
        &:first-child {
          transform-origin: left;
        }
        &:last-child {
          transform-origin: right;
        }
      }
    }
  }

  &--hide {
    .hamburger {
      &__line {
        animation: hideHamburger 0.3s forwards;
      }
    }
  }

  &--show {
    .hamburger {
      &__line {
        animation: showHamburger 0.3s forwards;
      }
    }
  }
}

@keyframes showHamburger {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes hideHamburger {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

@keyframes skewHamburger {
}
