@import '@/styles/variables';

.navbar__hamburger:hover .hamburger:not(.hamburger--open) {
  .hamburger__line {
    &:first-child {
      transform: translateX(-3px) !important;
    }
    &:last-child {
      transform: translateX(3px) !important;
    }
  }
}

// Hamburger Menu Lines
$hamburger-width: 40px;
$hamburger-height: 8px;

.hamburger {
  width: $hamburger-width;
  height: $hamburger-height;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &__line {
    width: $hamburger-width;
    height: 1px;
    background-color: $color-primary;
    position: absolute;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    transition: all 0.3s ease;

    &:first-child {
      top: 0;
      left: 0;
    }

    &:last-child {
      bottom: 0;
      left: 0;
    }
  }

  &--open {
    margin-top: $hamburger-height;
    .hamburger {
      &__line {
        &:first-child {
          transform: rotate(45deg);
        }
        &:last-child {
          top: calc($hamburger-height * 2);
          transform: translateY(calc(-1 * ($hamburger-height * 2)))
            rotate(-45deg);
        }
      }
    }
  }
}
