@import '@/styles/variables';

.navbar {
  height: 60px;
  justify-content: space-between;
  align-items: center;
  color: $color-primary;

  @include grid;

  &__nav {
    grid-column-start: 7;
    grid-column-end: 12;

    @include media('<=mobile') {
      display: none;
    }
  }

  &__list {
    display: flex;
    column-gap: $space-2;
  }

  &__item {
    
    @include font-style-3;

    font-weight: $font-weight-medium;

 
  }

  &__hamburger {
    margin-left: auto;
    margin-right: 0;
    grid-column-start: 12;

    @include media('>mobile', '<laptop') {
      max-width: $space-2;
    }
    @include media('<=mobile') {
      overflow: hidden;
      grid-column: span 1;
    }
  }

  .hamburger {
    &__line {
      stroke: $color-primary;
    }
  }
}
