// Import Variables
@import '@/styles/variables';

// Navbar Styles
.navbar {
  
  @include grid; // Apply grid layout

  height: $navbar-height; // Set the height of the navbar
  justify-content: space-between; // Space items evenly with space between
  align-items: center; // Align items vertically centered
  color: $color-primary; // Set text color
  


  // Navigation Container
  &__nav {
    grid-column-start: 7; // Start at column 7
    grid-column-end: 12; // End at column 12

    // Media Query: Mobile size and below
    @include media('<=mobile') {
      display: none; // Hide on mobile devices
    }
  }

  // Navigation List
  &__list {
    display: flex; // Use flexbox layout
    column-gap: $space-2; // Add column gap between items
  }

  // Navigation Item
  &__item {
    @include font-style-3; // Apply font style 3
    font-weight: $font-weight-medium; // Set font weight
  }

  // Hamburger Menu
  &__hamburger {
    margin-left: auto; // Push to the right side
    margin-right: 0; // Remove right margin
    grid-column-start: 12; // Start at column 12

    // Media Query: Between mobile and laptop sizes
    @include media('>mobile', '<laptop') {
      max-width: $space-2; // Set max width
    }

    // Media Query: Mobile size and below
    @include media('<=mobile') {
      overflow: hidden; // Hide overflow
      grid-column: span 1; // Span 1 column
    }
  }

  &__hamburger{
    height:100%;
    position: relative; 
    z-index:999;
  }

  &__menu{
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 998;
    transform: translateY(100%);    
  }
}
