// Import Variables
@import '@/styles/variables';

// Navigation Menu Styles
.nav-menu {
  position: absolute; // Fix the menu to the viewport
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999; // Ensure it appears above other elements

  background-color: $color-background-menu; // Set background color

  // Container for sections
  section {
    height: 100%; // Full height
  }

  // Container within section
  .section__container {
    height: 100%; // Full height
    position: relative; // Position relative for child elements
  }

  // Toggle Button
  &__toggle {
    grid-column-start: 1; // Position in the grid
    margin-top: $space-2; // Add top margin

    // Link inside toggle
    &-link {
      font-size: $font-size-3; // Set font size
      line-height: 1.12rem; // Set line height
      letter-spacing: -0.02375rem; // Adjust letter spacing
      font-weight: $font-weight-medium; // Set font weight
      color: $color-third; // Set font color
    }
  }

  // Navigation Container
  &__nav {
    grid-column: span 12; // Span 12 columns
    display: flex; // Use flexbox layout
    justify-content: flex-end; // Align items to the end
    align-items: center; // Center items vertically
  }

  // Navigation List
  &__list {
    text-align: right; // Align text to the right
    @include font-style-10; // Apply font style 10
    font-weight: $font-weight-medium; // Set font weight
  }

  // Navigation Item
  &__item {
  
    color: $color-menu-link; // Set font color
    transition: transform .3s ease-in-out;
    overflow: hidden;
    position:relative;
    &:hover{
      // color: $color-menu-link-hover; // Set color for hovered item
      transform: translateX(-20px);
      transition: transform .5s ease-out-in;
    }
    /*&--active {
      color: $color-menu-link-active; // Set color for active item
    }*/

    &:not(:last-child) {
      margin-bottom: $space-1; // Add bottom margin to non-last items
    }

    > a {
      display:block;
      @include sliding-text-gradient($color-menu-link, $color-menu-link-hover);
    }

    

    
  }

  // Social Media Section
  &__social {
    grid-column-start: 10; // Start at column 10
    grid-column-end: 13; // End at column 13
    text-align: right; // Align text to the right
    margin-bottom: $space-4; // Add bottom margin
    display: flex; // Use flexbox layout
    align-items: flex-end; // Align items to the end
    justify-content: flex-end; // Align items to the end

    // Social Media Items
    .nav-menu-social {
      &__item {
        &:not(:last-child) {
          margin-bottom: 5px; // Add bottom margin to non-last items
        }
      }

      // Social Media Links
      &__link {
        @include font-style-5; // Apply font style 5
        font-weight: $font-weight-medium; // Set font weight
        color: $color-third; // Set font color
        &:hover{
          color: $color-menu-link-hover;
        }
      }
    }
  }

  // Brand Logo
  &__brand {
    position: absolute; // Position absolute within the nav-menu
    left: 0; // Align to the left
    bottom: $space-4; // Set bottom spacing
    transform: rotate(-90deg) translateY(100%); // Rotate and move down
    transform-origin: bottom left; // Set transform origin
  }

  // Close Button Lines
  .close {
    &__line {
      stroke: $color-secondary; // Set stroke color
    }
  }
}

@keyframes showCloseButton {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes hideCloseButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
