@import '@/styles/variables';

.list {
  &__list {
    @include grid;
    row-gap: $space-1;
  }

  &__item {
    grid-column-start: 7;
    grid-column-end: span 6;
    display: block;

    @include media('<850px') {
      grid-column-start: span 12 !important;
    }

    @include media('<=sm') {
    }

    color: $color-black;

    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -0.13125rem;

    font-weight: $font-weight-regular;
  }

  &--brands {
    .list__item {

    }
  }

  &--services {
    .list__item {
      font-size: 3.625rem;
      line-height: 3.625rem;
      letter-spacing: -0.19375rem;;
      font-weight: $font-weight-regular;
    }
  }
}
