@import '@/styles/variables';

.list {
  &-container {
    overflow: hidden;
    position: relative;
  }

  &__list {
    @include grid; // Apply grid layout
    row-gap: $space-1; // Set row gap
  }

  &__item {
    grid-column-start: 7; // Set starting column for list item
    grid-column-end: span 6; // Span columns for list item
    display: block; // Display as block element

    @include media('<=mobile') {
      grid-column-start: span 12 !important; // Adjust for mobile screens
    }

    color: $color-black; // Set text color
    @include font-style-7; // Apply font styles
    font-weight: $font-weight-regular; // Set font weight
  }

  &--brands {
    .list__item {
      // Additional styles for brand items can be added here
    }
  }

  &--services {
    .list__item {
      @include font-style-11; // Apply different font styles for services
      font-weight: $font-weight-regular; // Set font weight
    }
  }

  &--animated {
    animation: scrollList;
    animation-duration: var(--list-animation-duration, 20s);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    .list__item {
      white-space: nowrap;
      overflow: hidden;
      height: 1lh;

      &:nth-child(2n) .list__group {
        animation-delay: 2s;
      }

      &:nth-child(3n) .list__group {
        animation-delay: 8s;
      }

      &:nth-child(4n) .list__group {
        animation-delay: 5s;
      }

      &:nth-child(5n) .list__group {
        animation-delay: 3s;
      }

      &:nth-child(6n) .list__group {
        animation-delay: 6s;
      }
    }

    .list__group {
      animation: rollListGroup;
      animation-duration: 10s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      animation-delay: 1s;

      div {
        line-height: normal;
      }
    }
  }
}

@keyframes scrollList {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50%);
  }
}

@keyframes rollListGroup {
  0%,
  20% {
    transform: translateY(0);
  }
  30%,
  60% {
    transform: translateY(-35%);
  }
  70%,
  100% {
    transform: translateY(-67%);
  }
}
