@import '@/styles/variables';

.list {
  &__list {
    @include grid;
    row-gap: $space-1;
  }

  &__item {
    grid-column-start: 7;
    grid-column-end: span 6;
    display: block;

    @include media("<=mobile") {
      grid-column-start: span 12 !important;
    }

    color: $color-black;

    @include font-style-7;

    font-weight: $font-weight-regular;
  }

  &--brands {
    .list__item {

    }
  }

  &--services {
    .list__item {
     @include font-style-11;

      font-weight: $font-weight-regular;
    }
  }
}
