@import '@/styles/variables';

.content {
  @include grid;

  &__left {
    grid-column: span 4;

    @include media("<=mobile") {
      grid-column: span 12 !important;
    }
  }

  &__right {
    grid-column-start: 7;
    grid-column-end: 13;

    @include media("<=mobile") {
      grid-column: span 12 !important;
    }
  }

  &__title {
    font-weight: $font-weight-medium;

    h1 {
      @include font-style-10;
    }

    h3 {
      @include font-style-9;
    }
  }

  &__title-badge {

    color: $color-third;

    @include font-style-4;

    font-weight: $font-weight-medium;

    vertical-align: top;
  }

  &__article {

    @include font-style-4;

    column-count: 2;
    
    column-gap: 1rem;

    @include media(">mobile", "<laptop") {
      column-count: 1 !important;
    }

    p:not(:last-child) {
      margin-bottom: 1rem;
      margin-bottom: 1lh;
    }
  }

  &--vertically-centered {
    align-items: center; // Center vertically
  }
}
