@import '@/styles/variables';

.footer{

    @include grid;

    @include font-style-2;

    margin-top:220px;

    font-weight: $font-weight-medium;

    color:$color-primary;

    padding-bottom: $space-2;

    
    &__brand{
        grid-column: span 2;               
    }
    
    &__content{
        grid-column-start:  3;
        grid-column-end:  6;
    }

    &__address{
        grid-column-start:  7;
        grid-column-end:  8;
        font-style: normal;
    }

    &__follow{
        grid-column-start:  8;
        grid-column-end:  9;
    }

    &__talk{
        grid-column-start:  9;
        grid-column-end:  11;
    }

    &__name{

        @include font-style-3;
    }

    &__label{
        display:block;
    }
    &__link{
        color:$color-secondary;
    }


}