@import '@/styles/variables';

.accordion-card {
  display: block;
  color: $color-secondary;

  // Image styling within the card
  &__image {
    margin-top: 8px; // Space above the image
  }

  // Title styling within the card
  &__title {
    @include font-style-2;
    margin-top: 6px; // Space above the title
  }
}
