// Import Variables
@import '@/styles/variables';

.page__nav--project {
  background-color: transparent;
  border-bottom: 1px solid $color-background;
}

.navbar--project {
  color: $color-background!important;

  .navbar__hamburger {
    .hamburger__line {
      background-color: $color-background;
    }
  }
}

// Project Page Details
.project-page-details {
  position: relative; // Set position relative for absolute positioning of children
  z-index: 1; // Ensure it appears above elements with lower z-index
  background-color: $color-background; // Set the background color from variables
  padding-top: $space-1; // Add top padding for spacing
}
