@import '@/styles/variables';

.teaser {
  @include grid;

  font-family: $font-primary;

  &__left {
    grid-column-start: 4;
    grid-column-end: span 3;

    @include media('<=mobile') {
      grid-column: span 12 !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

     @include font-style-8;

      font-weight: $font-weight-medium;
    }
  }

  &__right {
    grid-column-start: 7;
    grid-column-end: span 6;

    @include media('<=mobile') {
      grid-column: span 12 !important;
    }

    font-weight: $font-weight-medium;

    h1 {
      @include font-style-10;
    }

    h2 {
      @include font-style-12;
    }

    h3 {
      @include font-style-9;
    }

    h4 {
      @include font-style-8;
    }

    h5 {
      @include font-style-6;
    }

    h6 {
      @include font-style-5;
    }
  }

  &__sub-title {
    margin-left: auto;
    text-align: right;
   
  }
}
