@import '@/styles/variables';

.project-info {
  @include grid;

  &__first-column {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  &__second-column {
    grid-column-start: 3;
    grid-column-end: span 2;
  }

  &__main-column {
    grid-column-start: 7;
    grid-column-end: span 6;
  }

  &__client {
    + .project-info__deliverables {
      margin-top: $space-2;
    }
  }

  &__label {
    color: $color-secondary;
  }

  &__list {
    font-size: $font-size-3;
    line-height: $line-height-3;
    letter-spacing: $letter-spacing-3;

    font-weight: $font-weight-regular;
  }

  &__item {
    color: $color-primary;
  }

  &__article {
    @include grid(6);
    row-gap:0;

    font-weight: $font-weight-regular;

    color: $color-primary;
  }

  &__headline {
    grid-column: span 5;

    font-size: $font-size-6;
    line-height: 2.2rem;
    letter-spacing: -0.10688rem;

    + .project-info__body {
      margin-top: 34px;
    }

    + .project-info__website {
      margin-top: $space-2;
    }
  }

  &__body {
    grid-column: span 6;
  }

  &__content {
    font-size: $font-size-3;
    line-height: $line-height-3;
    letter-spacing: $letter-spacing-3;

    p:not(:last-child) {
      margin-bottom: 1rem;
      margin-bottom: 1lh;
    }

    + .project-info__website {
      margin-top: $space-2;
    }
  }

  &__website {
    display: flex;
    gap: $space-1;
  }

  .external-link-icon {
    &__path {
      fill: $color-black;
    }
  }
}
