@import '@/styles/variables';

.project-header {
  margin-top: calc(-1 * $navbar-height);
  position: relative;
  margin-top: -60px;  

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__message {
    margin-top: $navbar-height;
    position: relative;
    z-index: 1;
  }

  &__cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__title {
    position: relative;
    z-index: 1;
    margin-bottom: $space-3;
    grid-column-start: 7;
    grid-column-end: span 5;


    font-size: $font-size-10;
    line-height: 5.3125rem;
    letter-spacing: -0.3025rem;

    font-weight: $font-weight-medium;

    color: $color-white;
  }
}
