@import "@/styles/_variables";

.section {
  padding-left: $section-padding-left;
  padding-right: $section-padding-right;

  @include media(">=850px", "<1440px") {
    padding-left: $section-padding-left--tablet;
    padding-right: $section-padding-right--tablet;
  }

  @include media("<850px") {
    padding-left: $section-padding-left--mobile;
    padding-right: $section-padding-right--mobile;
  }
  
  &--full {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  &__container {
    margin-left: auto;
    margin-right: auto;
  }

  &--grid {
    .section__container{
      @include grid;
    }
  }
}
