@import "@/styles/_variables";

.section {

  @include section-layout; // Apply section layout styles

  &--full {
    padding-left: 0 !important; // Remove left padding
    padding-right: 0 !important; // Remove right padding
  }

  &__container {
    margin-left: auto; // Center container horizontally
    margin-right: auto; // Center container horizontally
  }

  &--grid {
    .section__container {
      @include grid; // Apply grid layout to container
    }
  }
}
