@import '@/styles/variables';

.project-gallery-item {
  // Styles for project gallery items with different sizes
  &--half,
  &--default {
    grid-column: span 6; // Half-width item

    .project-gallery-item__info {
      @include grid(6); // Grid layout for item info
    }
  }

  &--full {
    grid-column: span 12; // Full-width item

    .project-gallery-item__info {
      @include grid(12); // Grid layout for item info
    }
  }

  .picture__img {
    border-radius: 0; // Remove border-radius from images
  }

  &:not(:last-child) {
    margin-bottom: 120px; // Space between items
  }

  &__info {
    @include font-style-2; // Apply font style

    font-weight: $font-weight-regular; // Regular font weight

    padding-top: $space-1; // Space above the info
  }

  &__reference {
    color: $color-third; // Color for reference
    grid-column: span 1; // Grid column span for reference
  }

  &__title {
    color: $color-secondary; // Color for title
    grid-column: span 2; // Grid column span for title
  }
}
