@import '@/styles/variables';

.content-table {
  

  &__heading{
    
  }

  &__row{
    @include grid;

    padding-left: $section-padding-left;
    padding-right: $section-padding-right;

    @include media(">mobile", "<laptop") {
      padding-left: $section-padding-left--laptop;
      padding-right: $section-padding-right--laptop;
    }
  
    @include media("<=mobile") {
      padding-left: $section-padding-left--mobile;
      padding-right: $section-padding-right--mobile;
    }

  }

  &__list{

  }

  &__item{
    grid-column: span 6;

  }

  &__separator{

    background-color:$color-lines;
    margin-top: $space-3;
    margin-bottom: $space-1;
    height:1px;
    grid-column: span 12;

  }

  &__title{

    @include font-style-5;

    font-weight: $font-weight-regular;

    color:$color-primary;

  }

  
}

.content-table-item{

  @include grid(6);
  
  &__title{

    grid-column: span 2;
    
    @include font-style-3;

    font-weight: $font-weight-medium;

    color: $color-fourth;
  }

  &__content{

    grid-column: span 3;

    @include font-style-3;

    font-weight: $font-weight-regular;

    color: $color-secondary;

  }

}
