@import '@/styles/variables';

.vertical-nav {
  @include grid;

  color: $color-secondary;

  &__list {
    grid-column-start: 7;
    grid-column-end: 10;
  }

  &__item {
    border-bottom: 1px solid $color-secondary;

    &:hover {
      color: $color-third;
      border-bottom-color: $color-punchy;

      .vertical-nav-item__icon svg {
        fill: $color-third !important;
      }
    }
  }

  .vertical-nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 5px;
    padding-bottom: 5px;

    &__label {

      @include font-style-4;

      font-weight: $font-weight-medium;
    }

    &__icon {
      svg {
        fill: $color-secondary;
      }
    }
  }
}
