@import "@/styles/variables";

.content-numbered{
    @include grid;

    row-gap: $space-4;
    &__item{
      
        @include media(">mobile", "<laptop") {
            grid-column-start: span 6!important;
        }

        @include media("<=mobile") {
            grid-column-start: span 12!important;
        }        

    }

    &__number{
        color:$color-punchy;

        @include font-style-4;;

        font-weight: $font-weight-medium;
    }

    &__title{
        color:$color-fourth;

        @include font-style-4;

        font-weight: $font-weight-medium;

        margin-bottom: $space-1;
        

    }
    &__content{
        
        @include font-style-3;

        color:$color-secondary;
        
        font-weight: $font-weight-regular;
    }
}