@import '@/styles/variables';

.logo {
  color: $color-primary;
  display: flex;
  align-items: center;
  align-content: center;
  column-gap: 5px;
  grid-column: span 3;

  @include media(">mobile", "<laptop") {
    grid-column: span 4;
  }

  @include media("<=mobile") {
    grid-column: span 11;
  }
}

.slogan {
  font-size: 0.5rem;
  line-height: 0.625rem;
  letter-spacing: -0.0125rem;
  font-weight: $font-weight-medium;
  //width: 41.67%;
}
