@import "@/styles/variables";

.content-columns {
  @include grid;

  // Styling for each item in the content columns
  &__item {
    @include font-style-4;

    @include media(">mobile", "<laptop") {
      grid-column-start: span 4 !important; // Span 4 columns on medium devices
    }

    @include media("<=mobile") {
      grid-column-start: span 12 !important; // Full-width on mobile
    }
  }

  // Styling for the title in the content columns
  &__title {
    @include font-style-5;
    margin-bottom: $space-2; // Space below the title
    color: $color-primary; // Title color
  }

  // Styling for the content in the content columns
  &__content {
    color: $color-secondary; // Content color
  }
}
