@import "@/styles/variables";

.content-columns{
    @include grid;

    &__item{

        @include font-style-4;

        @include media(">mobile", "<laptop") {
            grid-column-start: span 4!important;
        }

         @include media("<=mobile") {
            grid-column-start: span 12!important;
        }

    }
    &__title{
        @include font-style-5;
        
        margin-bottom: $space-2;
        color:$color-primary;

    }
    &__content{
            color:$color-secondary;
    }
}