@import '@/styles/variables';

.message {
  @include grid;

  @include font-style-2;

  &__article {
    grid-column: span 3;
    
    padding-top: $space-6;
    padding-bottom: $space-6;

    @include media(">mobile", "<laptop") {
      grid-column: span 6;
    }

    @include media("<=mobile") {
      grid-column: span 11;
    }
  }

  &__title {

    color: $color-fourth;

    font-weight: $font-weight-medium;

    + .message__content {
      margin-top: 5px;
    }
  }

  &__content {

    color: $color-secondary;
    
    font-weight: $font-weight-regular;

    a {
      text-decoration: underline;
    }
  }
}
