html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: initial;
  background: $color-background;
}

body {
  @include media('<=sm') {
    padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom)
      env(safe-area-inset-left);
  }
  background-color: $color-background-iphone;
  overflow-x: hidden;
}

html,
body {
  font-size: $font-size-3;
  line-height: $line-height-3;
  letter-spacing: $letter-spacing-3;
  color: $color-primary;
  font-family: $font-primary;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

footer {
  overflow-x: hidden;
}

.section {
}
