// Font Weight Variables
// Define the font weights used throughout the project.
$font-weight-regular: 400;
$font-weight-medium: 500;

// Font Size Variables
// These variables define font sizes using calc to provide responsive scaling.
// The comments indicate the approximate size in pixels.
$font-size-1: calc(5.5593px + 0.1694vw); // 8px
$font-size-2: calc(9.5593px + 0.1694vw); // 12px
$font-size-3: calc(9.1186px + 0.3389vw); // 14px
$font-size-4: calc(6.2372px + 0.6779vw); // 16px
$font-size-5: calc(11.3559px + 1.0169vw); // 26px
$font-size-6: calc(12.4745px + 1.3559vw); // 32px
$font-size-7: calc(16.4750px + 1.3559vw); // 36px
$font-size-8: calc(19.5932px + 1.16949vw); // 44px
$font-size-9: calc(15.8722px + 2.3754vw); // 50px
$font-size-10: calc(31.3050px + 3.7288vw); // 85px
$font-size-11: calc(18.9491px + 2.7118vw); // 58px
$font-size-12: calc(34.9491px + 2.7118vw); // 74px

// Font Style Mixins
// These mixins define font styles including size, letter-spacing, and line-height,
// with media queries to adjust styles for mobile devices.

// Font Style: 8px
@mixin font-style-1 {
  font-size: $font-size-1;
  letter-spacing: -0.025em;
  line-height: 125%;
  @include media('<mobile') {
    font-size: 10px;
    letter-spacing: -0.025em;
    line-height: 118%;
  }
}

// Font Style: 12px
@mixin font-style-2 {
  font-size: $font-size-2;
  letter-spacing: -0.021em;
  line-height: 110%;
  @include media('<mobile') {
    font-size: 12px;
    letter-spacing: -0.027em;
    line-height: 110%;
  }
}

// Font Style: 14px
@mixin font-style-3 {
  font-size: $font-size-3;
  letter-spacing: -0.031em;
  line-height: 114%;
  @include media('<mobile') {
    font-size: 14px;
    letter-spacing: -0.028em;
    line-height: 110%;
  }
}

// Font Style: 16px
@mixin font-style-4 {
  font-size: $font-size-4;
  letter-spacing: -0.03em;
  line-height: 108%;
  @include media('<mobile') {
    font-size: 17px;
    letter-spacing: -0.03em;
    line-height: 109%;
  }
}

// Font Style: 26px
@mixin font-style-5 {
  font-size: $font-size-5;
  letter-spacing: -0.038em;
  line-height: 100%;
  @include media('<mobile') {
    font-size: 24px;
    letter-spacing: -0.034em;
    line-height: 104%;
  }
}

// Font Style: 32px
@mixin font-style-6 {
  font-size: $font-size-6;
  letter-spacing: -0.040em;
  line-height: 100%;
  @include media('<mobile') {
    font-size: 30px;
    letter-spacing: -0.040em;
    line-height: 100%;
  }
}

// Font Style: 36px
@mixin font-style-7 {
  font-size: $font-size-7;
  letter-spacing: -0.043em;
  line-height: 100%;
  @include media('<mobile') {
    font-size: 32px;
    letter-spacing: -0.041em;
    line-height: 100%;
  }
}

// Font Style: 44px
@mixin font-style-8 {
  font-size: $font-size-8;
  letter-spacing: -0.044em;
  line-height: 100%;
  @include media('<mobile') {
    font-size: 42px;
    letter-spacing: -0.042em;
    line-height: 100%;
  }
}

// Font Style: 50px
@mixin font-style-9 {
  font-size: $font-size-9;
  letter-spacing: -0.045em;
  line-height: 100%;
  @include media('<mobile') {
    font-size: 46px;
    letter-spacing: -0.047em;
    line-height: 100%;
  }
}

// Font Style: 85px
@mixin font-style-10 {
  font-size: $font-size-10;
  letter-spacing: -0.05em;
  line-height: 100%;
  @include media('<mobile') {
    font-size: 52px;
    letter-spacing: -0.05em;
    line-height: 100%;
  }
}

// Font Style: 58px
@mixin font-style-11 {
  font-size: $font-size-11;
  letter-spacing: -0.048em;
  line-height: 100%;
  @include media('<mobile') {
    font-size: 42px;
    letter-spacing: -0.048em;
    line-height: 100%;
  }
}

// Font Style: 74px
@mixin font-style-12 {
  font-size: $font-size-12;
  letter-spacing: -0.049em;
  line-height: 100%;
  @include media('<mobile') {
    font-size: 50px;
    letter-spacing: -0.048em;
    line-height: 100%;
  }
}

// Font Style Classes
// These classes apply the corresponding font style mixins.
.font-style--1 {
  @include font-style-1;
}

.font-style--2 {
  @include font-style-2;
}

.font-style--3 {
  @include font-style-3;
}

.font-style--4 {
  @include font-style-4;
}

.font-style--5 {
  @include font-style-5;
}

.font-style--6 {
  @include font-style-6;
}

.font-style--7 {
  @include font-style-7;
}

.font-style--8 {
  @include font-style-8;
}

.font-style--9 {
  @include font-style-9;
}

.font-style--10 {
  @include font-style-10;
}

.font-style--11 {
  @include font-style-11;
}

.font-style--12 {
  @include font-style-12;
}
