//

$font-primary: var(--font-sans);

//

@import "_color-scheme";
@import "_layout";
@import "_font";

//

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-third: var(--color-third);
$color-fourth: var(--color-fourth);
$color-lines: var(--color-lines);
$color-punchy: var(--color-punchy);
$color-white: var(--color-white);
$color-black: var(--color-black);
$color-background: var(--color-background);
$color-background-menu:var(--color-background-menu);
$color-background-iphone: var(--color-background-iphone);

//

$breakpoints: (
  "xs": 320px,
  "sm": 576px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "2xl": 1536px,
);

@import "include-media";

//

