// Import Variables and Base Styles
@import 'variables';
@import 'base';

// Navbar Section
// Styles specific to the navbar section.
.section--navbar {  
  // position: relative; // Ensure the navbar is positioned relative to its normal position
  z-index: 998; // Set the stacking order
  border-bottom: 1px solid $color-lines; // Add a bottom border using the color-lines variable
  position: sticky;
  top:0;
  background-color: $color-background;
}

// Footer Section
// Styles specific to the footer section.
.section--footer {  
  position: relative; // Ensure the footer is positioned relative to its normal position
  z-index: 1; // Set the stacking order  
}

// Sticky Footer
// Ensure the footer stays at the bottom of the page when content is short.
html,
body {
  height: 100%; // Set the height to 100% for both html and body
  transition: background .6s ease;
}

body > .page {
  height: 100%;
  display: flex; // Use flexbox for layout
  flex-direction: column; // Arrange children in a column
   // Add a transition effect for background changes

  > main {
    flex: 1 0 auto; // Allow main content to grow and shrink as needed
  }

  > .section--footer {
    flex-shrink: 0; // Prevent the footer from shrinking
  }
}
