@import 'variables';
@import 'base';

.section--navbar {  
  position: relative;
  z-index: 1;
  border-bottom: 1px solid $color-lines;
}

.section--footer {  
  position: relative;
  z-index: 1;
  background-color:$color-background;
}

/* Sticky Footer */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  transition: background 1s ease;

  > main {
    flex: 1 0 auto;
  }
  > .section--footer {
    flex-shrink: 0;
  }
}
