@import "@/styles/variables";

.intro {
  
  @include grid;
  color: $color-primary;




  &__heading{

    grid-column-start: 4;
    grid-column-end: 10;
    display: flex;
    flex-direction: column;
    text-align: center;

    + .intro__content{
      margin-top: 55px;
    }
  }

  &__content{
    
    grid-column-start: 7;
    grid-column-end: 10;
  }


  &__title {

    @include font-style-6;

    font-weight: $font-weight-medium;

    + .intro__sub-title{
      margin-top:$space-2;
    }
  }

  &__sub-title {

    @include font-style-5;

    font-weight:$font-weight-regular;
  }

  &__article {

     @include font-style-4;

    font-weight:$font-weight-medium;

    p:not(:last-child) {
      margin-bottom: 1rem;
      margin-bottom: 1lh;
    }
  }
}
